        body {
            font-family: 'Pretendard', sans-serif;
            text-align: center;
            padding: 20px;
        }

        input[type="text"] {
            padding: 10px;
            width: 200px;
        }

        button {
            padding: 10px 20px;
            cursor: pointer;
        }

        .small-btn {
            background-color: transparent;
            border: none;
            font-size: 12px;
            color: #555;
            cursor: pointer;
            padding: 2px 5px;
            margin-left: 5px
        }


        #listArea {
            text-align: left;
            width: 300px;
            margin: 20px auto;
            border: 1px solid #ddd;
            padding: 20px;
            min-height: 200px;
        }

        #todo-item {
            border-bottom: 1px solid #eee;
            padding: 10px 0;
            font-size: 18px;
        }

        #modal {
            width: 100vw;
            height: 100vh;
            background-color: rgba(128, 128, 128, 0.5);
            position: fixed;

            top: 0;
            left: 0;

            justify-content: center;
            align-items: center;
            display: none;
        }

        #modal.active {
            display: flex;
        }

        .todo-text {
            cursor: pointer;
            font-weight: bold;
            margin: 0 10px;
        }

        .todo-text:hover {
            color: blue;
            text-decoration: underline;
        }

        #modal {
            display: none;
        }

        #modal.active {
            display: flex;
        }

        #todoDetailArea {
            width: 500px;
            height: 500px;
            border: 3px solid black;
            padding: 50px;
            background-color: white;
        }