#listArea {
    background-color: white;
    width: 420px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid lightgray;
    min-height: 200px;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid whitesmoke;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-text {
    text-decoration: none;
    flex-grow: 1;
    margin: 0 12px;
    cursor: pointer;
    overflow: hidden;
    font-size: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo-text:hover {
    color: gray;
}

.todo-item button {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.2s;
}